<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="reset.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="FlashCards" ng-controller="MainController">
      <div ng-repeat="card in flashCards | orderBy: 'question'" class="flash-card" ng-controller="FlashCardController">
        <h1>{{ card.question | uppercase}}</h1>
        <ul class="flash-card-answers">
            <li ng-repeat ="answer in card.answers" ng-click="answerQuestion(answer)" class="flash-card-answer">
                {{ answer.text }}
            </li>
        </ul>
        <h2 class="answer-feedback" ng-class="{correct: answeredCorrectly, incorrect: !answeredCorrectly}" ng-show="answered">
          <span ng-show="answeredCorrectly">Yeah, you got it right!</span>
          <span ng-show="!answeredCorrectly">Nope, you got it wrong.</span>
        </h2>
      </div>
    </body>
</html>
